@page "/upload"

<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<div class="d-flex flex-column justify-content-start align-items-center pt-5 pb-5 bg-light" style="min-height: 100vh;">
    <div class="shadow-lg p-5 bg-white rounded" style="width: 80%; max-width: 600px;">
        <h3 class="text-center mb-4">Upload de Documentos</h3>

        @if (!isUploadFinalized) {
            @foreach (var uploadInfo in new[] {
                new { Id="rgUpload", Name="Documento oficial com foto", Formats=new[] {"PNG", "JPEG"}},
                new { Id="residenceProofUpload", Name="Comprovante de Residência", Formats=new[] {"PDF", "PNG", "JPEG"}},
                new { Id="enrollmentCertificateUpload", Name="Atestado de Matrícula", Formats=new[] {"PDF", "PNG", "JPEG"}},
                new { Id="attendanceCertificateUpload", Name="Atestado de Frequência", Formats=new[] {"PDF", "PNG", "JPEG"}}
            })
            {
                <div class="form-group mb-4">
                    <label for="@uploadInfo.Id"><span class="oi oi-cloud-upload"></span> @uploadInfo.Name @foreach (var format in uploadInfo.Formats) {<span class="custom-badge">@format</span>}</label>
                    <InputFile id="@uploadInfo.Id" OnChange="@((e) => HandleFileUpload(e, uploadInfo.Name))" />
                </div>
            }

            <button @onclick="FinalizeUpload" class="btn btn-primary w-100 mt-3 mb-3">Finalizar</button>

            <small class="text-muted d-block mt-4">* Limite de upload por arquivo: 10 MB</small>
        }
        else
        {
            <div class="alert alert-success mt-4" role="alert">
                <h4 class="alert-heading"><span class="oi oi-check"></span> Documentos enviados com sucesso!</h4>
                <p>Seus documentos foram enviados para análise. Por favor, aguarde.</p>
                <hr>
                <p class="mb-0">Você receberá o parecer por email. Agradecemos a sua paciência.</p>
            </div>
        }
    </div>
</div>

<style>
    body {
        font-family: 'Roboto';
        background-color: #eaf6ff;
    }

    .bg-light {
        background-color: #fbeec1 !important;
    }

    h3 {
        color: #ffab40;
        font-family: 'Roboto';
        font-weight: bold;
    }

    .btn {
        border-radius: 25px;
        margin: 5px;
        transition: transform 0.3s ease-out;
    }

    .btn:hover {
        transform: scale(1.1);
    }
</style>

@code {
    private string message = "";
    private bool isUploadFinalized = false;

    private void HandleFileUpload(InputFileChangeEventArgs e, string fileType)
    {
        var file = e.File;
        if (file != null)
        {
            //message += $"Uploaded {fileType}: {file.Name}\n";
        }
    }

    private void FinalizeUpload()
    {
        isUploadFinalized = true; // This will cause the form to be replaced by the success message
        message = "Seus documentos serão enviados para análise. Você receberá o parecer por email.";
    }
}
